netweaver:
  # optional: Install required packages to install SAP Netweaver (true by default)
  # If set to false, these packages must be installed before the formula execution manually
  # install_packages: true

  virtual_addresses:
    192.168.201.111: hacert01
    192.168.201.112: hacert02
    192.168.201.113: hacert03
    192.168.201.114: hacert04
    192.168.201.115: sapha1as
    192.168.201.116: sapha1er
    192.168.201.117: sapha1db
    192.168.201.118: sapha1pas
    192.168.201.119: sapha1aas
  # Create sidadm and sapsys user/group.
  # If this entry exists the user and group will be created before the installation, not otherwise
  sidadm_user:
    uid: 1001
    gid: 1002
  # sid_adm_password is optional, master password will be used as default, if value is not defined
  sid_adm_password: your_sidadm_password
  # sap_adm_password is optional, master password will be used as default, if value is not defined
  sap_adm_password: your_sapadm_password
  # Master password is used for all the SAP users that are created
  master_password: your_password
  # Clean /sapmnt/{sid} and /usr/sap/{sid}/SYS content. It will only work if ASCS node is defined.
  # True by default
  clean_nfs: True
  sapmnt_inst_media: your_nfs_share_SID_folder
  # Specify the path to already extracted SWPM installer folder
  swpm_folder: your_swpm_folder_absolute_path
  # Or specify the path to the sapcar executable & SWPM installer sar archive, to extract the installer
  # The sar archive will be extracted to a subfolder SWPM, under nw_extract_dir (optional, by default /sapmedia/NW/SWPM)
  # Make sure to use the latest/compatible version of sapcar executable, and that it has correct execute permissions
  sapcar_exe_file: your_sapcar_exe_file_absolute_path
  swpm_sar_file: your_swpm_sar_file_absolute_path
  nw_extract_dir: location_to_extract_nw_media_absolute_path
  sapexe_folder: your_sapexe_sar_folder_absolute_path
  # Folder where the installation files are stored. /tmp/swpm_unattended by default. Set None to use
  # SAP default folders (it will only work with ASCS and ERS).
  # This folder content will be removed before the installation so be extra careful!
  installation_folder: /tmp/swpm_unattended
  # DB/PAS/AAS instances require additional DVD folders like NW Export or HDB Client folder
  # Provide the absolute path to software folder or archives with additional SAP software needed to install netweaver
  additional_dvds:
    - /sapmedia/HANA/51053492
    - /sapmedia/NW/51050829_3.ZIP
    - /tmp/sapmedia/51050818_5.EXE
  # Enable operations in ASCS and ERS to set HA environment correctly (HA cluster is not installed)
  ha_enabled: True

  # Used to connect to the nfs share
  nfs_version: nfs4
  nfs_options: defaults
  # Use the next options for AWS for example
  # nfs_options: rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2

  # saptune solution to apply to all nodes ( by default nothing is applied)
  # you can also use this to a single node if need to differ. see host hacert02
  # Warning: only a unique solution can exist into a node.
  saptune_solution: 'NETWEAVER'

  # Information about the already deployed HANA Database
  # This entry is mandatory if DB/PAS/AAS are to be installed
  hana:
    host: 192.168.100.15
    sid: PRD
    instance: 00
    password: hana_password

  # Information about the Schema created during DB installation and used by PAS/AAS
  # If this dictionary is not set default values will be used
  schema:
    name: schema_name
    password: your_password

  # The installed product id. If some particular node has its own product_id that one will have the preference
  # Just put the product id ommiting the initial part like NW_ABAP_ASCS, NW_ERS, etc
  # Examples
  product_id: NW750.HDB.ABAPHA
  # For non HA environments
  #product_id: NW750.HDB.ABAP
  # For HA S4/HANA
  #product_id: S4HANA1709.CORE.HDB.ABAPHA

  # optional: enables monitoring via sap_host_exporter (disabled by default)
  # the exporter will be installed and configured in all the nodes
  monitoring_enabled: true

  nodes:
    - host: hacert01
      virtual_host: sapha1as
      virtual_host_interface: eth1 # eth0 by default
      virtual_host_mask: 32 # 24 by default
      sid: HA1
      instance: 00
      root_user: root
      root_password: linux
      # Set the shared disk used in HA environments. Skip this parameter in non HA environments
      shared_disk_dev: /dev/sbd
      # Or if a nfs share is used to manage the HA mounting point, like in the cloud providers
      #shared_disk_dev: your_nfs_share_SID_folder/ASCS
      # Init the shared disk. Only used if a shared disk is provided, not in nfs share cases
      init_shared_disk: True
      # Set an specific product id. In this case the initial part of the code is accepted too, even though it's recommend to use the 1st example option
      product_id: NW750.HDB.ABAPHA
      #product_id: NW750.HDB.ABAP
      #product_id: NW_ABAP_ASCS:S4HANA1709.CORE.HDB.ABAPHA
      sap_instance: ascs

    - host: hacert02
      virtual_host: sapha1er
      sid: HA1
      instance: 10
      saptune_solution: 'MAXDB'
      root_user: root
      root_password: linux
      # Set the shared disk used in HA environments. Skip this parameter in non HA environments
      shared_disk_dev: /dev/sbd
      # If a nfs share is used to manage the HA mounting point, like in the cloud
      #shared_disk_dev: your_nfs_share_SID_folder/ERS
      sap_instance: ers

    - host: hacert03
      virtual_host: sapha1pas
      ascs_virtual_host: sapha1as
      sid: HA1
      instance: 00
      root_user: root
      root_password: linux
      sap_instance: db
      # Retry options configuration. Only for ERS, DB, PAS and AAS instances
      # How often retry the SAP instance installation (10 by default retries)
      #attempts: 10
      # Interval in seconds between retries (60 seconds by default for DB and 600 seconds for PAS and AAS)
      #interval: 60

    - host: hacert03
      virtual_host: sapha1pas
      ascs_virtual_host: sapha1as
      sid: HA1
      instance: 01
      root_user: root
      root_password: linux
      sap_instance: pas
      # Update configuration file custom parameters using extra_parameters option
      # Example:
      #extra_parameters:
      #  NW_liveCache.useLiveCache: "false"

    - host: hacert04
      virtual_host: sapha1aas
      sid: HA1
      instance: 02
      root_user: root
      root_password: linux
      sap_instance: aas
