netweaver:
  virtual_addresses:
    192.168.201.111: hacert01
    192.168.201.112: hacert02
    192.168.201.113: hacert03
    192.168.201.114: hacert04
    192.168.201.115: sapha1as
    192.168.201.116: sapha1er
    192.168.201.117: sapha1db
    192.168.201.118: sapha1pas
    192.168.201.119: sapha1aas
  # Create sidadm and sapsys user/group.
  # If this entry exists the user and group will be created before the installation, not otherwise
  sidadm_user:
    uid: 1001
    gid: 1002
  # Clean /sapmnt/{sid} and /usr/sap/{sid}/SYS content. It will only work if ASCS node is defined.
  # True by default
  clean_nfs: True
  sapmnt_inst_media: your_nfs_share_SID_folder
  swpm_folder: your_swpm_folder_absolute_path
  sapexe_folder: your_sapexe_sar_folder_absolute_path
  # Folder where the installation files are stored. /tmp/swpm_unattended by default. Set None to use
  # SAP default folders (it will only work with ASCS and ERS).
  # This folder content will be removed before the installation so be extra careful!
  installation_folder: /tmp/swpm_unattended
  # DB/PAS/AAS instances require additional DVD folders like NW Export or HDB Client folder
  additional_dvd:
    - required_dvd1_folder_absolute_path
    - required_dvd2_folder_absolute_path
  # Enable operations in ASCS and ERS to set HA environment correctly (HA cluster is not installed)
  ha_enabled: True

  # Information about the already deployed HANA Database
  # This entry is mandatory if DB/PAS/AAS are to be installed
  hana:
    host: 192.168.100.15
    sid: PRD
    instance: 00
    password: hana_password

  # Information about the Schema created during DB installation and used by PAS/AAS
  # If this dictionary is not set default values will be used
  schema:
    name: schema_name
    password: your_password

  nodes:
    - host: hacert01
      virtual_host: sapha1as
      sid: HA1
      instance: 00
      root_user: root
      root_password: linux
      master_password: your_password
      shared_disk_dev: /dev/sbd
      init_shared_disk: True
      sap_instance: ascs

    - host: hacert02
      virtual_host: sapha1er
      sid: HA1
      instance: 10
      root_user: root
      root_password: linux
      master_password: your_password
      shared_disk_dev: /dev/sbd
      sap_instance: ers

    - host: hacert03
      virtual_host: sapha1pas
      ascs_virtual_host: sapha1as
      sid: HA1
      instance: 00
      root_user: root
      root_password: linux
      master_password: your_password
      sap_instance: db

    - host: hacert03
      virtual_host: sapha1pas
      ascs_virtual_host: sapha1as
      sid: HA1
      instance: 01
      root_user: root
      root_password: linux
      master_password: your_password
      sap_instance: pas

    - host: hacert04
      virtual_host: sapha1aas
      sid: HA1
      instance: 02
      root_user: root
      root_password: linux
      master_password: your_password
      sap_instance: aas
