netweaver:
  virtual_addresses:
    192.168.201.111: hacert01
    192.168.201.112: hacert02
    192.168.201.115: sapha1as
    192.168.201.116: sapha1er
  swpm_media: your_nfs_share_with_swpm_and_sapexe_folders
  sapmnt_inst_media: your_nfs_share_SID_folder
  swpm_folder: your_swpm_folder_relative_to_swpm_media
  sapexe_folder: your_sapexe_sar_folder_relative_to_swpm_media

  nodes:
    - host: hacert01
      virtual_host: sapha1as
      sid: HA1
      instance: 00
      root_user: root
      root_password: linux
      master_password: your_password
      shared_disk_dev: /dev/sbd
      init_shared_disk: True
      sap_instance: ascs

    - host: hacert02
      virtual_host: sapha1er
      sid: HA1
      instance: 10
      root_user: root
      root_password: linux
      master_password: your_password
      shared_disk_dev: /dev/sbd
      sap_instance: ers
